@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #79B8F4;
  --secondary: #252B46;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F4F4ED;
  color: var(--secondary);
}

.section-title {
  font-size: 2.25rem;
}


.text {
  font-weight: 300;
  font-size: 1rem;
}

/* NAVBAR MENU */
.nav-group {
  font-size: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-group .nav-title {
  font-size: 2rem;
  font-weight: 400;
}

.nav-group .nav-title i {
  color: var(--primary);
}

.nav-group ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-group ul .nav-item a {
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all .25s ease;
  border-bottom: 3px solid transparent;
}

.nav-group .nav-item .active {
  border-bottom-color: var(--primary);
}

/* RESPONSIVE NAVBAR DROPDOWN MENU */
.nav-responsive {
  position: absolute;
  top: 72px;
  right: 0;
}

.nav-responsive ul {
  background-color: #F4F4ED;
  overflow-x: hidden;
  width: 0;
  height: 15rem;
  display: flex;
  flex-direction: column;
  gap: 0;
  text-align: center;
  border-radius: 5px 0 0 5px;
  transition: all .35s ease;
  box-shadow: -20px 20px 60px #bebebe,
    20px -20px 60px #ffffff;
}

.nav-responsive ul a {
  display: inline;
}

.nav-responsive ul li {
  padding: 1rem 0;
}

.nav-responsive.active ul {
  width: 10rem;
}

.btn-start {
  margin: 1rem 0;
  padding: .75rem 5rem;
  border: 2px solid transparent;
  color: #F4F4ED;
  border-radius: 2rem;
  transition: all .25s ease;
  box-shadow: -20px 20px 60px #c7c7c7,
    20px -20px 60px #f9f9f9;
}

.btn-start:hover {
  opacity: .9;
}

.btn-start.primary {
  background-color: var(--primary);
}

.btn-start.secondary {
  background-color: var(--secondary);
}

@media screen and (max-width: 576px) {
  .btn-start {
    padding: .75rem 2rem;
  }
}