@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #79B8F4;
  --secondary: #252B46;
}

*::selection {
  background-color: var(--secondary);
  color: var(--primary);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F4F4ED;
  color: var(--secondary);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--primary) !important;
}

/* TEXT */
.section-title {
  font-size: 2.25rem;
}

.title {
  font-size: 2rem;
}

.text {
  font-weight: 300;
  font-size: 1rem;
}

/* NAVBAR MENU */
.nav-group {
  font-size: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-group .nav-title {
  font-size: 2rem;
  font-weight: 400;
}

.nav-group .nav-title i {
  color: var(--primary);
}

.nav-group ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-group ul .nav-item a {
  display: block;
  transition: all .25s ease;
  border-bottom: 3px solid transparent;
}

.nav-group .nav-item .active {
  border-bottom-color: var(--primary);
}

/* RESPONSIVE NAVBAR DROPDOWN MENU */
.nav-responsive {
  position: absolute;
  top: 72px;
  right: 0;
}

.nav-responsive ul {
  background-color: #F4F4ED;
  overflow-x: hidden;
  width: 0;
  height: 15rem;
  display: flex;
  flex-direction: column;
  gap: 0;
  text-align: center;
  border-radius: 5px 0 0 5px;
  transition: all .35s ease;
  box-shadow: -20px 20px 60px #bebebe,
    20px -20px 60px #ffffff;
}

.nav-responsive ul a {
  display: inline;
}

.nav-responsive ul li {
  padding: 1rem 0;
}

.nav-responsive.active ul {
  width: 10rem;
}

/* MAIN BUTTON */
.btn-start {
  margin: 1rem 0;
  padding: .75rem 5rem;
  border: 2px solid transparent;
  color: #F4F4ED;
  border-radius: 2rem;
  transition: all .25s ease;
}

.btn-start:hover {
  opacity: .8;
}

.btn-start.primary {
  background: linear-gradient(225deg, var(--primary), var(--primary));
  box-shadow: -5px 5px 10px #c1c1c1,
    5px -5px 10px #ffffff;
}

.btn-start.secondary {
  background: linear-gradient(225deg, var(--secondary), var(--secondary));
  box-shadow: -5px 5px 18px #6091c1,
    5px -5px 18px #92dfff;
}

/* TITLE CONTAINER FOR SECTIONS */
.title-container {
  width: 75% !important;
  margin-inline: auto !important;
  margin-bottom: 3rem;
}

/* ABOUT CARD */
.about-card {
  text-align: center;
  max-width: 400px;
  padding: 2rem;
  margin-inline: auto;
}

.about-card i {
  font-size: 4rem;
  color: var(--primary);
}

.about-card .card-title {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.faq-container {
  width: 85%;
}

/* TESTIMONIALS */
.client-wrap {
  max-width: 90%;
}

.client-wrap img {
  width: 70px;
  height: 70px;
  margin-right: 1.5rem;
}

.quotes-icon {
  position: absolute;
  top: 30px;
  left: -5px;
  font-size: 3rem;
  color: var(--primary);
}

/* CONTACT */
#contact {
  background-color: var(--primary);
}

/* FOOTER  */
.footer-text {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* SM */
@media screen and (max-width: 576px) {
  .btn-start {
    padding: .75rem 2rem;
  }

  .title-container {
    width: 100% !important;
  }

  .section-title {
    font-size: 2rem;
  }

  .text {
    font-weight: 300;
    font-size: 1rem;
  }

  .faq-container {
    width: 100%;
  }


}